@media (max-width: 992px) {
    .logo{
        margin-left: 10px;
    }

    .nav-links {
        margin-right: 0;
    }

    .header-container{
        max-height: 580px;
    }

    .h-text{
        display: none;
    }

    .description {
        text-align: left;
        padding: 10px;
    }

    .top-header {
        margin-bottom: 50px;
        margin-top: 15px;
    }
    
    .navbar .navbar-toggler{
        border: unset;
    }

   .navbar-toggler .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .description h4{
        display: flex;
        flex-wrap: wrap;
        font-size: 30px;
        max-width: 100px;
        margin-left: 30px;
        font-weight: 700;
    }

    .nav-links a {
        color: #000000;
    }

    .boxes {
        position: relative;
        margin-left: 30px;
        left: unset;
        display: flex;
        flex-wrap: wrap;
        bottom: 0px;
    }

    .box{
        width: 300px;
        padding: 27px;
        max-height: 200px;
    }

    .b-container{
        padding: 0;
    }

    .arrow{
        padding: 0;
    }

    .section{
        margin-top: 300px;
    }
        

    .f-container{
        padding: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .f-box{
        margin-bottom: 30px;
    }

    .c-container{
        display: flex;
       flex-wrap: wrap;
       max-width: unset;
       margin-bottom: 20px;
    }

    .info{
        flex-wrap: wrap;
        justify-content: center;
        max-width: 540px;
    }
        
    .image-container {
        z-index: 1;
    }

    .image-container img {
        max-width: 100%; 
        height: auto;
    }

    .info-name{
        margin-top: 30px;
    }
    
    
    .text {
        margin-left: 2px; 
        width: 100%;
    }

    .border-line {
        position: absolute;
        top: 2%;
        left: 5px;
        width: 0%;
        height: 2px;
        padding: 101px;
        border: solid #B39D73 3px;
    }

    .textt{
        margin-left: 2px; 
        width: 100%;
    }

    .next-container{
        max-width: unset;
        margin-bottom: 20px;
    }

    .n-container{
        flex-wrap: wrap-reverse;
    }

    .tiny-box{
        max-width: 360px;
        margin-left: 10px;
    }

    .last-text{
        margin-left: 2px; 
        width: 100%;
    }

    .d-container{
        margin-bottom: unset;
    }
    
}

